* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 200;
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Caveat', cursive;
    font-weight: 10;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/tahoe.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.splash-page { 
    padding-top: 300px;
    position: absolute;
    right: 50%;
    bottom: 70%;
    margin-left: 80px;
    color: rgba(219, 233, 245, 0.9);
    font-size: 25px;
}


